!!! 5
%html{lang: 'en-US'}
  %head
    %title Pair Programming Partnership
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'custom.min'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: page_class}
    .navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-primary
      %button.navbar-toggler{navbar_button_attributes}
        %span.navbar-toggler-icon
      .container
        #navbarResponsive.collapse.navbar-collapse
          = link_to "P<sub>3</sub>".html_safe, '/', class: 'navbar-brand'
          %ul.navbar-nav
            %li.nav-item.dropdown
              = link_to "Get Started <span class=\"caret\"></span>".html_safe, '#', id: 'TODO', class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown'
              .dropdown-menu{'aria-labelledby': 'TODO'}
                = link_to "TODO", '#', class: 'dropdown-item'
                .dropdown-divider
                = link_to "Students", '#', class: 'dropdown-item'
                = link_to "Pro Developers", '#', class: 'dropdown-item'
                = link_to "Businesses", '#', class: 'dropdown-item'
                = link_to "Schools", '#', class: 'dropdown-item'
            %li.nav-item
              = link_to "Why?", '#', class: 'nav-link'
            %li.nav-item
              = link_to "How it Works", '#', class: 'nav-link'
            %li.nav-item
              = link_to "Expectations", '#', class: 'nav-link'
            %li.nav-item.dropdown
              = link_to "About <span class=\"caret\"></span>".html_safe, '#', id: 'menu_about', class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown'
              .dropdown-menu{'aria-labelledby': 'menu_about'}
                = link_to "TODO", '#', class: 'dropdown-item'
                .dropdown-divider
                = link_to "The Problem", '#', class: 'dropdown-item'
                = link_to "Pair Programming?", '#', class: 'dropdown-item'
                = link_to "Research & Evidence", '#', class: 'dropdown-item'
                = link_to "Support", '#', class: 'dropdown-item'
                = link_to "Contact", '#', class: 'dropdown-item'
          %ul.nav.navbar-nav.ml-auto
            %li.nav-item
              = link_to "Support/Contact", '#', class: 'nav-link'
            %li.nav-item
              = link_to "Dashboard (calendar etc)", '#', class: 'nav-link'
    .container
      #banner.page-header
        .row
          .col-lg-8.col-md-7.col-sm-6
            %h1 Pair Programming Partnership
            %p.lead
              Students,
              = succeed '.' do
                = link_to 'gain experience', '#'
              Developers,
              = succeed '.' do
                = link_to 'earn bonuses', '#'
              Businesses,
              = succeed '.' do
                = link_to 'hire local talent', '#'
      %main
        = yield
      %footer#footer
        .row
          .col-lg-12
            %ul.list-unstyled
              %li.float-lg-right= link_to "Dashboard", '#'
              %li.float-lg-right= link_to "Support/Contact", '#'
              %li= link_to "Students", '#'
              %li= link_to "Developers", '#'
              %li= link_to "Businesses", '#'
              %li= link_to "Schools", '#'
              %li= link_to "About", '#'
            %p © 2016 Pair Programming Partnership. All rights reserved.
            %h2 v#{APP_VERSION}