!!! 5
%html
  %head
    %title Pair Programming Partnership
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'custom.min'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-primary
      %button.navbar-toggler{type: "button", 'data-toggle': "collapse", 'data-target': "#navbarResponsive", 'aria-controls': "navbarResponsive", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
        %span.navbar-toggler-icon
      .container
        #navbarResponsive.collapse.navbar-collapse
          = link_to "P<sub>3</sub>".html_safe, "/", class: "navbar-brand"
          %ul.navbar-nav
            %li.nav-item.dropdown
              = link_to "Menu Item <span class=\"caret\"></span>".html_safe, "#", id: "themes", class: "nav-link dropdown-toggle", 'data-toggle': "dropdown"
              .dropdown-menu{'aria-labelledby': "themes"}
                = link_to "TODO", "#", class: 'dropdown-item'
                .dropdown-divider
                = link_to "TODO", "#", class: 'dropdown-item'
                = link_to "TODO", "#", class: 'dropdown-item'
                = link_to "TODO", "#", class: 'dropdown-item'
                = link_to "TODO", "#", class: 'dropdown-item'
            %li.nav-item
              = link_to "Get Started", "#", class: "nav-link"
            %li.nav-item
              = link_to "Details", "#", class: "nav-link"
            %li.nav-item
              = link_to "Another link", "#", class: "nav-link"
          %ul.nav.navbar-nav.ml-auto
            %li.nav-item
              = link_to "Support", "#", class: "nav-link"
            %li.nav-item
              = link_to "TODO", "#", class: "nav-link"
    .container
      #banner.page-header
        .row
          .col-lg-8.col-md-7.col-sm-6
            %h1 Pair Programming Partnership
            %p.lead Students, get experience. Developers, level up. Businesses, grow talented communicators.
      %main
        = yield
      %footer#footer
        .row
          .col-lg-12
            %ul.list-unstyled
              %li.float-lg-right= link_to "Back to top", "#top"
              %li= link_to "TODO", "#"
              %li= link_to "TODO", "#"
              %li= link_to "TODO", "#"
              %li= link_to "Bootswatch Example", "/pages/bootswatch_example"
            %p © 2016 Pair Programming Partnership. All rights reserved.
